<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web
     Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
    <filter>
        <filter-name>filter</filter-name>
        <filter-class>org.tms.filters.WebFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter</filter-name>
        <servlet-name>second</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>org.tms.servlet.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/firstpage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>org.tms.servlet.SecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/secondpage</url-pattern>
    </servlet-mapping>
</web-app>